#cont {
  background: linear-gradient(45deg, #0bd2de, #0083f9);
  height: auto;
  width: 100%;
  padding: 20px;
  margin: 0;
}

#card-body {
  width: 40%;
  margin: auto;
}

#items {
  padding: 20px;
  background-color: #f2f2f2;
}
/* 
#card {
} */

#psp {
  padding-left: 10px;
}

#shipinfo {
  padding-left: 10px;
  margin-bottom: 5px;
}

#assigndel{
  margin: auto;
  box-shadow: 0px 9px 30px -15px rgb(0 0 0);
  margin-bottom: 100px;
  margin-top: 20px;
  background: linear-gradient(45deg, #0bd2de, #0083f9);
  color: white;
  width: 25%;
}

#assigndel:hover{
  transform: scale(1.1);
}
